<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mitos y Realidades</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body ">

        
        <div class="row">
            <div class="col-4">

                
                    <div class="card text-center  mb-3 w-100" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">¿La vacuna contra la infuenza tambien protege contra el nuevo coronavirus?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                            <p class="card-text"><b>No.</b>La vacuna contra la influenza no brinda protección contra el nuevo coronavirus, este es tan nuevo y diferente que necesita su propia vacuna. Aunque la vacuna contra la influenza no es efectiva para el COVID-19, vacunarse es muy recomendable para proteger la salud.</p>
                        </div>
                    </div>
            </div>
            

            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100 bg-secondary text-white " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿El nuevo coronavirus se diagnostica con una prueba rapida?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text"> <b>NO.</b> El nuevo coronavirus únicamente se confirma a través de una prueba de laboratorio, llamada PCR.</p>
                        
                    </div>
                </div>


            </div>

            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100 " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿Se puede reutilizar el cubrebocas N95?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text"><b>NO.</b> Los cubrebocas, incluidos los N95, no deben reutilizarse, ya que se contaminan al ser utilizados por alguien con síntomas de infección respiratoria o en contacto con personas infectadas.</p>
                        
                    </div>
                </div>


            </div>


        </div>

        <br>

        <div class="row">

            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100 bg-secondary text-white " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿El ajo puede prevenir la infección del nuevo coronavirus?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text">NO. El ajo es un alimento saludable, pero no hay evidencia de que comer ajo proteja a las personas del nuevo coronavirus.</p>
                    
                    </div>
                </div>


            </div>

            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿El virus que causa COVID-19 NO sobrevive en zonas con clima cálidos y húmedos?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text"><b>NO.</b> El virus sobrevive en cualquier clima, cálido, húmedo, frío o seco.</p>
                        
                    </div>
                </div>


            </div>

            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100 bg-secondary text-white " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿Se puede matar el nuevo coronavirus rociando el cuerpo con alcohol o con cloro?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text">NO. Rociar todo el cuerpo con alcohol o cloro, no sirve para matar los virus que ya han entrado en el organismo, estas sustancias pueden dañar los ojos, la boca, etc.</p>
                        
                    </div>
                </div>


            </div>
            
            
        </div>
        <br>
        <div class="row">
            
            <div class="col-4">
                
                <div class="card text-center  mb-3 w-100 " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿El nuevo coronavirus solo afecta a las personas mayores?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text">El virus COVID-19 puede contagiar a personas de todas las edades, sin embargo las personas adultas mayores y las personas con enfermedades crónicas, pueden ser más susceptibles a enfermar gravemente.</p>
                        
                    </div>
                </div>


            </div>
            <div class="col-4">

                <div class="card text-center  mb-3 w-100 bg-secondary text-white " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿El clima frío y la nieve pueden matar al nuevo coronavirus?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text">NO. No hay razón para creer que el frío puede matar el nuevo coronavirus. Los climas fríos propician un incremento en la transmisión de enfermedades respiratorias.</p>
                        
                    </div>
                </div>


            </div>

            <div class="col-4">

                <div class="card text-center  mb-3 w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">¿Perros y gatos pueden trasmitir el nuevo coronavirus?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Realidad</h6>
                        <p class="card-text">Actualmente NO hay evidencia de que los animales como perros o gatos puedan infectarse con el nuevo coronavirus, aunque siempre es una buena idea lavarse las manos con agua y jabón después del contacto con las mascotas.</p>

                    </div>
                </div>


            </div>




        </div>
        </div>
        

    <div class="modal-footer">
        <button class="btn btn-danger" (click) = "modal.close()">Salir</button>
    </div>
</ng-template>



<button type="button" class="btn btn-primary btn-lg btn-block" (click) = 'openModal(contenido)'>Mitos y Realidades</button>