<ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="¿Qué es una vacuna?">
      <ng-template ngbPanelContent>
        <p>Se entiende por vacuna cualquier preparación destinada a generar inmunidad contra una enfermedad estimulando la producción de anticuerpos. 
            La vacunación es una forma sencilla, inocua y eficaz de protegernos contra enfermedades dañinas antes de entrar en contacto con ellas. 
            Las vacunas activan las defensas naturales del organismo para que aprendan a resistir a infecciones específicas, y fortalecen el sistema inmunitario.</p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="¿Qué contiene?">
      <ng-template ngbPanelContent>
        <p>Todos los componentes de las vacunas son importantes para garantizar su inocuidad y su eficacia. Estos son algunos de ellos:</p>

        <ol>
            <li>El antígeno: es una forma muerta o debilitada de un patógeno (por ejemplo, un virus o una bacteria) que prepara a nuestro organismo para reconocer y combatir una determinada enfermedad en el futuro.</li><br>
            <li> Adyuvantes: ayudan a incrementar la respuesta de nuestras defensas y, así, facilitan la acción de las vacunas.</li><br>
            <li>Conservantes: garantizan que la vacuna mantiene su eficacia.</li><br>
            <li> Estabilizantes: protegen la vacuna durante su transporte y almacenamiento.</li>
        </ol>
        
       
        
       
      </ng-template>
    </ngb-panel>

    <ngb-panel id="toggle-3" title="¿Cómo funciona?">
        <ng-template ngbPanelContent>
            Después de vacunarnos, nuestro sistema inmunitario produce anticuerpos, como ocurre cuando nos exponemos a una enfermedad, 
            con la diferencia de que las vacunas contienen solamente patógenos (como virus o bacterias).
            La mayoría de las vacunas se inyectan, pero otras se ingieren (vía oral) o se nebulizan en la nariz.
        </ng-template>
      </ngb-panel>

      <ngb-panel id="toggle-4" title="¿Qué es un anticuerpo?​">
        <ng-template ngbPanelContent>
          <p>Es una proteína producida por el sistema inmunitario del cuerpo cuando detecta microorganismos, 
            llamados antígenos. Los ejemplos de antígenos abarcan patógenos (tales como bacterias, hongos, parásitos y virus), químicos, entre otros.
            Los antígenos son moléculas grandes (generalmente proteínas) localizadas en la superficie de las células, 
            virus, hongos, bacterias y algunas sustancias muertas como toxinas, sustancias químicas, medicamentos y partículas extrañas.
            El sistema inmunológico detecta los antígenos y produce anticuerpos que destruyen las sustancias que los contienen.</p>
        </ng-template>
      </ngb-panel>


  </ngb-accordion>
  
  <hr/>