
<section class="mainImg">
  <h3 id="titulo">Todo sobre el COVID19</h3>
</section>
<section class="OptionsContainer">
  <div class="columna">
    <button type="button" class="btn btn-primary btn-lg btn-block">Información</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Vacunación Covid</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Recomendaciones para la Salud</button>
    
  </div>
  <div class="columna">
    <button type="button" class="btn btn-primary btn-lg btn-block">Recomendaciones</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Cuando ir al Médico</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Mitos y Realidades</button>
  </div>
</section>





  <div class="MainContainer">
<div class="item">
  <img id="imagenDerecha" src="http://ss.puebla.gob.mx/media/k2/items/cache/513d7a0ab11e38f7bd117d760146fed3_XL.jpg?t=20200721_185801">
</div>
    <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et magni vero voluptatum quisquam architecto, veniam delectus est voluptas. Obcaecati eligendi eos a, in iure tempore voluptates vitae sequi eaque temporibus.</div>
    <div class="item">
      
      <button type="button" class="btn btn-primary btn-lg btn-block">Semáforo</button>
    </div>
  </div>
    

  


