<style>
body{
  font-family: Arial, Helvetica, sans-serif;
}

.mainImg{
  display: grid;
  width: 95%;
  height: 100%;
  background-color: coral;
  margin: 20px;

}
.MainContainer{
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  
}

.OptionsContainer{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.columna{
  
  margin-left: 20%;
  margin-right: 20%;
}
.item{
  background-color: aquamarine;
  border-width: 1px;
  border-style: solid;
}




</style>

<section class="mainImg">

<h1>Imagen</h1>
<p>
  
</p>

</section>
<section class="OptionsContainer">
  <div class="columna">
    <button type="button" class="btn btn-primary btn-lg btn-block">Información</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Vacunación Covid</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Recomendaciones para la Salud</button>
    
  </div>
  <div class="columna">
    <button type="button" class="btn btn-primary btn-lg btn-block">Recomendaciones</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Cuando ir al Médico</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Mitos y Realidades</button>
  </div>
</section>





  <div class="MainContainer">
<div class="item"> Imagen </div>
    <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et magni vero voluptatum quisquam architecto, veniam delectus est voluptas. Obcaecati eligendi eos a, in iure tempore voluptates vitae sequi eaque temporibus.</div>
    <div class="item">
      
      <button type="button" class="btn btn-primary btn-lg btn-block">Semáforo</button>
    </div>
  </div>
    

  


