<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">¿Cuando acudir a un médico?</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body ">


        <div class="alert alert-info" role="alert">
            <p>Una persona debe sospechar de COVID-19 cuando presenta al menos dos de los siguientes síntomas</p>
          </div>

        
        <div class="row">
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/tos.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Tos o estornudo</h5>
                    
                    </div>
                </div>

            </div>
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/fiebre.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Fiebre</h5>
                    
                    </div>
                </div>
            </div>
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/cabeza.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Dolor de cabeza</h5>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/respirar.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Dificultad para respirar</h5>
                    <div class="card-body">
                        <p>Casos mas graves</p>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/garganta.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Dolor de garganta</h5>
                    
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/nasal.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Escurrimiento nasal</h5>
                    
                    </div>
                </div>


                
            </div>
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/ojos.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Ojos rojos</h5>
                    
                    </div>
                </div>


               
            </div>
            <div class="col-4">

                <div class="card text-center bg-light mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/muscular.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Dolores en músculos o articulaciones</h5>
                    
                    </div>
                </div>


                
            </div>
        </div>

        
        </div>
        
   
    <div class="modal-footer">
        <button class="btn btn-danger" (click) = "modal.close()">Salir</button>
    </div>
</ng-template>

<button style="margin-top: 20px; margin-bottom: 20px;" type="button" class="btn btn-primary btn-lg btn-block" (click) = "openModal(contenido)">Cuando ir al Médico</button>