<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">¿Cuando acudir a un médico?</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body ">
        <p>Una persona debe sospechar de COVID-19 cuando presenta al menos dos de los siguientes síntomas</p>
        <div class="row">
            <div class="col-4">
                <p>Tos o estornudo</p>
                <img width="60%" src="assets/images/tos.png">
            </div>
            <div class="col-4">
                <p>Fiebre</p>
                <img width="60%" src="assets/images/fiebre.png">
            </div>
            <div class="col-4">
                <p>Dolor de cabeza</p>
                <img width="60%" src="assets/images/cabeza.png">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <p>Dificultad para respirar (Casos mas graves)</p>
                <img width="60%" src="assets/images/respirar.png">
            </div>
            <div class="col-4">
                <p>Dolor de garganta </p>
                <img width="60%" src="assets/images/garganta.png">
            </div>
            <div class="col-4 align-self-center">
                <p>Escurrimiento nasal</p>
                <img width="60%" src="assets/images/nasal.png">
            </div>
            <div class="col-4">
                <p>Ojos rojos</p>
                <img width="60%" src="assets/images/ojos.png">
            </div>
            <div class="col-4">
                <p >Dolores en músculos o articulaciones</p>
                <img width="60%" src="assets/images/muscular.png">
            </div>
        </div>

        
        </div>
        
   
    <div class="modal-footer">
        <button class="btn btn-danger" (click) = "modal.close()">Salir</button>
    </div>
</ng-template>

<button style="margin-top: 20px; margin-bottom: 20px;" type="button" class="btn btn-primary btn-lg btn-block" (click) = "openModal(contenido)">Cuando ir al Médico</button>