<ng-template #contenido let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Información sobre Covid</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    <h5 class="text-center"> ¿Qué es el coronavirus?</h5>
                  </div>
                
                
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-center">Los coronavirus son una familia de virus que causan enfermedades (desde el resfriado común hasta enfermedades
                        respiratorias más graves) y circulan entre humanos y animales.
                        En este caso, se trata del SARS-COV2. Apareció en China en diciembre pasado y
                        provoca una enfermedad llamada COVID-19, que se extendió por el mundo y fue declarada 
                        pandemia global por la Organización Mundial de la Salud.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">

                    <div class="alert alert-info" role="alert">
                        <h5>¿Comó se transmite?</h5>
                      </div>


                    
                </div>
                <div class="col-6">
                    <p>
                        Los coronavirus humanos se transmiten de una persona infectada a otras: <br></p>
                        <ul>
                            <li>a través de las gotículas que expulsa un enfermo al toser y estornudar</li>
                            <li>al tocar o estrechar la mano de una persona enferma,</li>
                            <li>un objeto o superficie contaminada con el virus y luego llevarse las manos sucias a boca, nariz u ojos.</li>
                        
                        </ul>
                            


                    

                    
                        
                    
                    
                </div>
                <div class="col-6">
                    <p class="text-center">Los coronavirus son una familia de virus que causan enfermedades (desde el resfriado común hasta enfermedades
                        respiratorias más graves) y circulan entre humanos y animales.
                        En este caso, se trata del SARS-COV2. Apareció en China en diciembre pasado y
                        provoca una enfermedad llamada COVID-19, que se extendió por el mundo y fue declarada 
                        pandemia global por la Organización Mundial de la Salud.</p>
                </div>
            </div>


            
        </div>

        
        </div>


    <div class="modal-footer">
        <button class="btn btn-danger" (click) = "modal.close()">Salir</button>
    </div>
</ng-template>






<button style="margin-top: 20px; margin-bottom: 20px;" (click) = "openModal(contenido)" type="button" class="btn btn-primary btn-lg btn-block">Información</button>