<ng-template #contenido let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Semáforo Covid</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12" *ngFor = "let item of totalAngularPackages">
                <div  class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <p class="card-text">Color de Semaforo: {{item.color}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <hr><br>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="button">Salir</button>
    </div>
</ng-template>

<button type="button" class="btn btn-primary btn-lg btn-block" (click) = "modal.open(contenido)">Semáforo</button>
