<ng-template #contenido let-modal>

    <button (click) = 'onSubmit()'> aqui</button>
    <div class="modal-header">
        <h4 class="modal-title">Semáforo Covid</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Seleccione el estado</p>
    </div>
    <div class="modal-footer">
        <button class="button">Salir</button>
    </div>
</ng-template>

<button type="button" class="btn btn-primary btn-lg btn-block" (click) = "modal.open(contenido)">Semáforo</button>
