<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Hola</h4>
        <button class="close" aria-label="close" type="button" (click) = 'modal.dismiss()'>
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    <div class="modal-body">
        <p>ejemplo</p>
    </div>
    <div class="modal-footer">
        <p>Ejemplo de footer</p>
    </div>
</ng-template>

<button type="button" class="btn btn-primary btn-lg btn-block" (click) = "modal.open(contenido)">Semáforo</button>
